.box {
    border-radius: 0px;
}

.intro {
    margin: 20px;
}

.start-button {
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.start {
    width: 200px;
    margin: 0 auto;
}

.question {
    margin: 5px 20px;
}

.buttons {
    margin-top: 30px;
    float: right;
}

.response {
    margin-top: 5px;
}